.allStaff {
  display: flex;
  flex-wrap: wrap;
}

.staff_header {
  background-color: aliceblue;
  color: blue;
}

.allStudents {
  display: flex;
  flex-wrap: wrap;
}

.student_header {
  background-color: aliceblue;
  color: blue;
}