.member_container {
  width: 22%;
  height: 300px;
  background-color: aliceblue;
  border-radius: 15px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo_container {
  width: 80%;
  overflow: hidden;
}

.photo {
  max-height: 200px;
  margin-top: 20px;
}

.name {
  color: purple;
  margin: 5px;
}

.quote {
  color: red;
  margin: 5px;
}

.superlative {
  color: green;
  margin-bottom: 15px;
}